p, div {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 10px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Verdana, Geneva, sans-serif;
    color: #001744;
    text-align: center;
}

.header {
    text-align: center;
    margin-top: 15px;
    width: 90%;
}

.apply{
    margin-bottom: 15px;
}

h1, .h1{
    font-weight: bold;
}

h3, .h3 {
    color: #001744;
}

.drop-down.active {
    color: #FF812E;
}

.change {
    margin-top: 45px;
}

h2, .h2 {
    text-decoration: underline;
    color: #001744;
}


h6, .h6 {
    color: #001744;
}

.title {
    display: block;
    margin: auto;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
    /*margin-right:-4px;*/
}

.navHeaderCollapse {
    float: right;
    padding-right: 2% !important;
}

.top-navbar {
    display: inline;
}

.logo {
    float: left;
    padding-left: 2%;
}

.emp {
    border-left: 4px;
    border-right: 4px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FF812E;
    padding-left: 5%;
    padding-right: 5%;
}

.front {
    padding-left: 5%;
    padding-right: 5%;
}

.bottom-link {
    float: left;
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}
