p, div {
    line-height: 10px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #001744;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 22px;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }
}

.header {
    text-align: center;
}

.header h1, .header h3 {
    color: #fff;
}

.apply{
    margin-bottom: 15px;
}

h1, .h1{
    font-weight: bold;
}

h3, .h3 {
    color: #001744;
}

.drop-down.active {
    color: #FF812E;
}

.change {
    margin-top: 45px;
}

h2, .h2 {
    color: #001744;
}


h6, .h6 {
    color: #001744;
}

.title {
    display: block;
    margin: auto;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
    /*margin-right:-4px;*/
}

.navHeaderCollapse {
    float: right;
    padding-right: 2% !important;
}

.top-navbar {
    display: inline;
}

.logo {
    float: left;
    padding-left: 2%;
}

.emp {
    border-left: 4px;
    border-right: 4px;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #FF812E;
    padding-left: 5%;
    padding-right: 5%;
}

.front {
    width: 100%;
    margin: 0px;
}

.bottom-link {
    float: left;
    color: #ffffff;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}

@media only screen and (max-width: 990px) {
    .jumbimage {
        width: 100%;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 991px) {
    .jumbimage {
        width: 100%;
        height: auto;
        padding: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .application-info {
        padding: 0px;
    }
}

@media only screen and (min-width: 600px) {
    .application-info {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.row {
    width: 100%;
}

.inline-display {
    display: inline;
    margin-left: 5px;
}

.header h3 a {
    color: #001744;
}

.pic-header {
    height: 70%;
    background-image: url(pics/jumbo.jpg) !important;
    background-size: 100% auto !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ui.secondary.menu {
    margin-bottom: 0;
}

.container.mission-statement {
    width: 65%;
    margin: 0 auto;
}

.container {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.vertical.segment h4 {
    font-size: 1.25em;
}

.vertical.segment h3, .container h3 {
    font-size: 1.5em;
}

.vertical.segment h6 {
    font-size: 1em;
    line-height: 1.2em;
    margin: 1.5rem 0;
}

.home-categories {
    text-align: center;
}

.pic-header h1 {
    font-size: 2.5em;
}

.pic-header h2 {
    font-size: 2em;
    color: #fff;
}

.container.about-us p {
    font-size: 1.1em;
    line-height: 1.2em;
}

.container.about-us h3 {
    color: #FF812E;
}

.container.about-us .ui.item {
    padding-bottom: .5em;
}

.about-us .left.floated.image {
    margin: 1.5em 1.5em 1.5em -3em;
}

.about-us .right.floated.image {
    margin: 1.5em -3em 1.5em 1.5em;
}